# Exploratory Data Analysis

In [207]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression,Lasso,LassoCV,Ridge,RidgeCV,ElasticNet,ElasticNetCV
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import metrics

In [208]:
traindata=pd.read_csv('D:/edvancer projects/counterfeit_train.csv')

In [209]:
traindata

,Medicine_ID,Counterfeit_Weight,DistArea_ID,Active_Since,Medicine_MRP,Medicine_Type,SidEffect_Level,Availability_rating,Area_Type,Area_City_Type,Area_dist_level,Counterfeit_Sales
0,RRA15,13.100,Area046,1995,160.2366,Antimalarial,critical,0.070422,DownTown,Tier 1,Small,1775.5026
1,YVV26,NaN,Area027,1983,110.4384,Mstablizers,mild,0.013000,CityLimits,Tier 3,Medium,3069.1520
2,LJC15,9.025,Area046,1995,259.4092,Cardiac,mild,0.060783,DownTown,Tier 1,Small,2603.0920
3,GWC40,11.800,Area046,1995,99.9830,OralContraceptives,mild,0.065555,DownTown,Tier 1,Small,1101.7130
4,QMN13,NaN,Area019,1983,56.4402,Hreplacements,critical,0.248859,MidTownResidential,Tier 1,Small,158.9402
...,...,...,...,...,...,...,...,...,...,...,...,...
6813,OYN80,8.535,Area046,1995,204.1452,Hreplacements,mild,0.112963,DownTown,Tier 1,Small,2070.4520
6814,ACW12,20.650,Area046,1995,235.1088,Hreplacements,mild,0.131103,DownTown,Tier 1,Small,2126.3792
6815,OPM10,20.000,Area017,2005,193.6292,Antimalarial,critical,0.105096,DownTown,Tier 2,Unknown,2119.7212
6816,SLY12,10.180,Area045,2000,162.8682,Statins,mild,0.099957,DownTown,Tier 2,Unknown,1485.2138
6817,ATT10,7.930,Area018,2007,177.5500,Mstablizers,critical,0.117445,Industrial,Tier 3,Medium,1943.9500

In [210]:
traindata['Data_from']='Train'

In [211]:
testdata=pd.read_csv('D:/edvancer projects/counterfeit_test.csv')

In [212]:
testdata

,Medicine_ID,Counterfeit_Weight,DistArea_ID,Active_Since,Medicine_MRP,Medicine_Type,SidEffect_Level,Availability_rating,Area_Type,Area_City_Type,Area_dist_level
0,HLZ81,NaN,Area027,1983,85.5328,Antibiotics,mild,0.112747,CityLimits,Tier 3,Medium
1,ECE94,13.45,Area045,2000,257.1460,OralContraceptives,mild,0.144446,DownTown,Tier 2,Unknown
2,SAD14,7.10,Area045,2000,98.1172,Antipyretics,mild,0.144221,DownTown,Tier 2,Unknown
3,EQV63,18.30,Area010,1996,135.3730,Tranquilizers,mild,0.100388,MidTownResidential,Tier 3,Unknown
4,AIR10,NaN,Area019,1983,112.8016,OralContraceptives,mild,0.022585,MidTownResidential,Tier 1,Small
...,...,...,...,...,...,...,...,...,...,...,...
1700,KXW10,NaN,Area027,1983,136.5704,Hreplacements,mild,0.050505,CityLimits,Tier 3,Medium
1701,CKE54,21.30,Area035,2002,57.0744,Antibiotics,critical,0.041118,DownTown,Tier 2,Small
1702,HAY13,20.40,Area017,2005,182.7422,Antiseptics,mild,0.191273,DownTown,Tier 2,Unknown
1703,ZEE32,20.00,Area018,2007,266.9672,Hreplacements,mild,0.013000,Industrial,Tier 3,Medium
1704,NDL93,8.08,Area045,2000,238.7694,Antibiotics,critical,0.098982,DownTown,Tier 2,Unknown

In [213]:
testdata['Data_from']='Test'

In [214]:
traindata.columns

Index(['Medicine_ID', 'Counterfeit_Weight', 'DistArea_ID', 'Active_Since',
       'Medicine_MRP', 'Medicine_Type', 'SidEffect_Level',
       'Availability_rating', 'Area_Type', 'Area_City_Type', 'Area_dist_level',
       'Counterfeit_Sales', 'Data_from'],
      dtype='object')

In [215]:
testdata.columns

Index(['Medicine_ID', 'Counterfeit_Weight', 'DistArea_ID', 'Active_Since',
       'Medicine_MRP', 'Medicine_Type', 'SidEffect_Level',
       'Availability_rating', 'Area_Type', 'Area_City_Type', 'Area_dist_level',
       'Data_from'],
      dtype='object')

In [216]:
testdata['Counterfeit_Sales']=np.nan

In [217]:
testdata['Counterfeit_Sales']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1700   NaN
1701   NaN
1702   NaN
1703   NaN
1704   NaN
Name: Counterfeit_Sales, Length: 1705, dtype: float64

In [218]:
data=pd.concat([traindata,testdata],axis=0)

C:\Users\Media_Box\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [219]:
data

,Active_Since,Area_City_Type,Area_Type,Area_dist_level,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Data_from,DistArea_ID,Medicine_ID,Medicine_MRP,Medicine_Type,SidEffect_Level
0,1995,Tier 1,DownTown,Small,0.070422,1775.5026,13.100,Train,Area046,RRA15,160.2366,Antimalarial,critical
1,1983,Tier 3,CityLimits,Medium,0.013000,3069.1520,NaN,Train,Area027,YVV26,110.4384,Mstablizers,mild
2,1995,Tier 1,DownTown,Small,0.060783,2603.0920,9.025,Train,Area046,LJC15,259.4092,Cardiac,mild
3,1995,Tier 1,DownTown,Small,0.065555,1101.7130,11.800,Train,Area046,GWC40,99.9830,OralContraceptives,mild
4,1983,Tier 1,MidTownResidential,Small,0.248859,158.9402,NaN,Train,Area019,QMN13,56.4402,Hreplacements,critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,1983,Tier 3,CityLimits,Medium,0.050505,NaN,NaN,Test,Area027,KXW10,136.5704,Hreplacements,mild
1701,2002,Tier 2,DownTown,Small,0.041118,NaN,21.300,Test,Area035,CKE54,57.0744,Antibiotics,critical
1702,2005,Tier 2,DownTown,Unknown,0.191273,NaN,20.400,Test,Area017,HAY13,182.7422,Antiseptics,mild
1703,2007,Tier 3,Industrial,Medium,0.013000,NaN,20.000,Test,Area018,ZEE32,266.9672,Hreplacements,mild
1704,2000,Tier 2,DownTown,Unknown,0.098982,NaN,8.080,Test,Area045,NDL93,238.7694,Antibiotics,critical

In [220]:
traindata.shape[0]+testdata.shape[0]

8523

In [221]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 1704
Data columns (total 13 columns):
Active_Since           8523 non-null int64
Area_City_Type         8523 non-null object
Area_Type              8523 non-null object
Area_dist_level        8523 non-null object
Availability_rating    8523 non-null float64
Counterfeit_Sales      6818 non-null float64
Counterfeit_Weight     7060 non-null float64
Data_from              8523 non-null object
DistArea_ID            8523 non-null object
Medicine_ID            8523 non-null object
Medicine_MRP           8523 non-null float64
Medicine_Type          8523 non-null object
SidEffect_Level        8523 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 932.2+ KB

In [222]:
data['Counterfeit_Weight'].value_counts()

13.450    86
18.900    82
14.950    77
13.100    76
10.600    68
          ..
7.035      2
7.820      1
6.700      1
8.985      1
10.720     1
Name: Counterfeit_Weight, Length: 415, dtype: int64

In [223]:
counterwt=round(data.loc[data['Data_from']=='Train','Counterfeit_Weight'].mean(),3)

In [224]:
counterwt

14.115

In [225]:
data['Counterfeit_Weight'].fillna(counterwt,inplace=True)

In [226]:
data['Counterfeit_Weight']

0       13.100
1       14.115
2        9.025
3       11.800
4       14.115
         ...
1700    14.115
1701    21.300
1702    20.400
1703    20.000
1704     8.080
Name: Counterfeit_Weight, Length: 8523, dtype: float64

In [227]:
data.dtypes

Active_Since             int64
Area_City_Type          object
Area_Type               object
Area_dist_level         object
Availability_rating    float64
Counterfeit_Sales      float64
Counterfeit_Weight     float64
Data_from               object
DistArea_ID             object
Medicine_ID             object
Medicine_MRP           float64
Medicine_Type           object
SidEffect_Level         object
dtype: object

In [228]:
data['DistArea_ID'].unique()

array(['Area046', 'Area027', 'Area019', 'Area045', 'Area018', 'Area013',
       'Area017', 'Area010', 'Area035', 'Area049'], dtype=object)

### Creating dummies for DistArea_ID

In [229]:
dummyDistArea_ID=pd.get_dummies(data['DistArea_ID'],prefix='DistArea_ID').iloc[:,0:9]

### Creating dummies for Medicine_Type

In [230]:
data['Medicine_Type'].unique()

array(['Antimalarial', 'Mstablizers', 'Cardiac', 'OralContraceptives',
       'Hreplacements', 'Antiseptics', 'Statins', 'Analgesics',
       'MuscleRelaxants', 'Antibiotics', 'Antifungal', 'Antiviral',
       'Tranquilizers', 'Antacids', 'Antipyretics', 'Stimulants'],
      dtype=object)

In [231]:
dummyMedicine_Type=pd.get_dummies(data['Medicine_Type'],prefix='Medicine_Type').iloc[:,0:15]
dummyMedicine_Type

,Medicine_Type_Analgesics,Medicine_Type_Antacids,Medicine_Type_Antibiotics,Medicine_Type_Antifungal,Medicine_Type_Antimalarial,Medicine_Type_Antipyretics,Medicine_Type_Antiseptics,Medicine_Type_Antiviral,Medicine_Type_Cardiac,Medicine_Type_Hreplacements,Medicine_Type_Mstablizers,Medicine_Type_MuscleRelaxants,Medicine_Type_OralContraceptives,Medicine_Type_Statins,Medicine_Type_Stimulants
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1701,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1702,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1703,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1704,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [232]:
data['SidEffect_Level'].unique()

array(['critical', 'mild'], dtype=object)

In [233]:
data['SidEffect_Level']=np.where(data['SidEffect_Level']=='critical',1,0)

In [234]:
data['SidEffect_Level']

0       1
1       0
2       0
3       0
4       1
       ..
1700    0
1701    1
1702    0
1703    0
1704    1
Name: SidEffect_Level, Length: 8523, dtype: int32

In [235]:
data['Area_Type'].unique()

array(['DownTown', 'CityLimits', 'MidTownResidential', 'Industrial'],
      dtype=object)

### Creating dummies for Area_Type

In [236]:
dummyArea_Type=pd.get_dummies(data['Area_Type'],prefix='Area_Type').iloc[:,0:2]

In [237]:
dummyArea_Type

      Area_Type_CityLimits  Area_Type_DownTown
0                        0                   1
1                        1                   0
2                        0                   1
3                        0                   1
4                        0                   0
...                    ...                 ...
1700                     1                   0
1701                     0                   1
1702                     0                   1
1703                     0                   0
1704                     0                   1

[8523 rows x 2 columns]

In [238]:
data['Area_City_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

### Creating dummies for Area_City_Type

In [239]:
dummyArea_City_Type=pd.get_dummies(data['Area_City_Type'],prefix='Area_City_Type').iloc[:,0:2]
dummyArea_City_Type

      Area_City_Type_Tier 1  Area_City_Type_Tier 2
0                         1                      0
1                         0                      0
2                         1                      0
3                         1                      0
4                         1                      0
...                     ...                    ...
1700                      0                      0
1701                      0                      1
1702                      0                      1
1703                      0                      0
1704                      0                      1

[8523 rows x 2 columns]

In [240]:
data['Area_dist_level'].unique()

array(['Small', 'Medium', 'Unknown', 'High'], dtype=object)

### Creating dummies for Area_dist_level

In [241]:
dummyArea_dist_level=pd.get_dummies(data['Area_dist_level'],prefix='Area_dist_level').iloc[:,0:3]
dummyArea_dist_level

      Area_dist_level_High  Area_dist_level_Medium  Area_dist_level_Small
0                        0                       0                      1
1                        0                       1                      0
2                        0                       0                      1
3                        0                       0                      1
4                        0                       0                      1
...                    ...                     ...                    ...
1700                     0                       1                      0
1701                     0                       0                      1
1702                     0                       0                      0
1703                     0                       1                      0
1704                     0                       0                      0

[8523 rows x 3 columns]

In [242]:
# Dropping the original columns 
data.drop(['DistArea_ID','Medicine_Type','Area_Type','Area_City_Type','Area_dist_level'],inplace=True,axis=1)

In [243]:
#Dropping Medicine_ID column
data.drop('Medicine_ID',axis=1,inplace=True)

In [244]:
data

,Active_Since,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Data_from,Medicine_MRP,SidEffect_Level
0,1995,0.070422,1775.5026,13.100,Train,160.2366,1
1,1983,0.013000,3069.1520,14.115,Train,110.4384,0
2,1995,0.060783,2603.0920,9.025,Train,259.4092,0
3,1995,0.065555,1101.7130,11.800,Train,99.9830,0
4,1983,0.248859,158.9402,14.115,Train,56.4402,1
...,...,...,...,...,...,...,...
1700,1983,0.050505,NaN,14.115,Test,136.5704,0
1701,2002,0.041118,NaN,21.300,Test,57.0744,1
1702,2005,0.191273,NaN,20.400,Test,182.7422,0
1703,2007,0.013000,NaN,20.000,Test,266.9672,0
1704,2000,0.098982,NaN,8.080,Test,238.7694,1

In [245]:
#concatinating all the dummydataframes of variables with the original dataframe
data=pd.concat([data,dummyDistArea_ID,dummyMedicine_Type,dummyArea_Type,dummyArea_City_Type,dummyArea_dist_level],axis=1)

In [246]:
data

,Active_Since,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Data_from,Medicine_MRP,SidEffect_Level,DistArea_ID_Area010,DistArea_ID_Area013,DistArea_ID_Area017,...,Medicine_Type_OralContraceptives,Medicine_Type_Statins,Medicine_Type_Stimulants,Area_Type_CityLimits,Area_Type_DownTown,Area_City_Type_Tier 1,Area_City_Type_Tier 2,Area_dist_level_High,Area_dist_level_Medium,Area_dist_level_Small
0,1995,0.070422,1775.5026,13.100,Train,160.2366,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,1983,0.013000,3069.1520,14.115,Train,110.4384,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1995,0.060783,2603.0920,9.025,Train,259.4092,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
3,1995,0.065555,1101.7130,11.800,Train,99.9830,0,0,0,0,...,1,0,0,0,1,1,0,0,0,1
4,1983,0.248859,158.9402,14.115,Train,56.4402,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,1983,0.050505,NaN,14.115,Test,136.5704,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1701,2002,0.041118,NaN,21.300,Test,57.0744,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
1702,2005,0.191273,NaN,20.400,Test,182.7422,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
1703,2007,0.013000,NaN,20.000,Test,266.9672,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1704,2000,0.098982,NaN,8.080,Test,238.7694,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [247]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 1704
Data columns (total 38 columns):
Active_Since                        8523 non-null int64
Availability_rating                 8523 non-null float64
Counterfeit_Sales                   6818 non-null float64
Counterfeit_Weight                  8523 non-null float64
Data_from                           8523 non-null object
Medicine_MRP                        8523 non-null float64
SidEffect_Level                     8523 non-null int32
DistArea_ID_Area010                 8523 non-null uint8
DistArea_ID_Area013                 8523 non-null uint8
DistArea_ID_Area017                 8523 non-null uint8
DistArea_ID_Area018                 8523 non-null uint8
DistArea_ID_Area019                 8523 non-null uint8
DistArea_ID_Area027                 8523 non-null uint8
DistArea_ID_Area035                 8523 non-null uint8
DistArea_ID_Area045                 8523 non-null uint8
DistArea_ID_Area046                 8523 non-null uint8
Medicine_Type_Analgesics            8523 non-null uint8
Medicine_Type_Antacids              8523 non-null uint8
Medicine_Type_Antibiotics           8523 non-null uint8
Medicine_Type_Antifungal            8523 non-null uint8
Medicine_Type_Antimalarial          8523 non-null uint8
Medicine_Type_Antipyretics          8523 non-null uint8
Medicine_Type_Antiseptics           8523 non-null uint8
Medicine_Type_Antiviral             8523 non-null uint8
Medicine_Type_Cardiac               8523 non-null uint8
Medicine_Type_Hreplacements         8523 non-null uint8
Medicine_Type_Mstablizers           8523 non-null uint8
Medicine_Type_MuscleRelaxants       8523 non-null uint8
Medicine_Type_OralContraceptives    8523 non-null uint8
Medicine_Type_Statins               8523 non-null uint8
Medicine_Type_Stimulants            8523 non-null uint8
Area_Type_CityLimits                8523 non-null uint8
Area_Type_DownTown                  8523 non-null uint8
Area_City_Type_Tier 1               8523 non-null uint8
Area_City_Type_Tier 2               8523 non-null uint8
Area_dist_level_High                8523 non-null uint8
Area_dist_level_Medium              8523 non-null uint8
Area_dist_level_Small               8523 non-null uint8
dtypes: float64(4), int32(1), int64(1), object(1), uint8(31)
memory usage: 757.4+ KB

### Separating trainingdata and testingdata from original dataframe

In [248]:
trainingdata=data.loc[data['Data_from']=='Train']

In [249]:
trainingdata

,Active_Since,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Data_from,Medicine_MRP,SidEffect_Level,DistArea_ID_Area010,DistArea_ID_Area013,DistArea_ID_Area017,...,Medicine_Type_OralContraceptives,Medicine_Type_Statins,Medicine_Type_Stimulants,Area_Type_CityLimits,Area_Type_DownTown,Area_City_Type_Tier 1,Area_City_Type_Tier 2,Area_dist_level_High,Area_dist_level_Medium,Area_dist_level_Small
0,1995,0.070422,1775.5026,13.100,Train,160.2366,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,1983,0.013000,3069.1520,14.115,Train,110.4384,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1995,0.060783,2603.0920,9.025,Train,259.4092,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
3,1995,0.065555,1101.7130,11.800,Train,99.9830,0,0,0,0,...,1,0,0,0,1,1,0,0,0,1
4,1983,0.248859,158.9402,14.115,Train,56.4402,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6813,1995,0.112963,2070.4520,8.535,Train,204.1452,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
6814,1995,0.131103,2126.3792,20.650,Train,235.1088,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
6815,2005,0.105096,2119.7212,20.000,Train,193.6292,1,0,0,1,...,0,0,0,0,1,0,1,0,0,0
6816,2000,0.099957,1485.2138,10.180,Train,162.8682,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0
6817,2007,0.117445,1943.9500,7.930,Train,177.5500,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [250]:
trainingdata.drop(['Data_from'],axis=1,inplace=True)

C:\Users\Media_Box\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [251]:
trainingdata

,Active_Since,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Medicine_MRP,SidEffect_Level,DistArea_ID_Area010,DistArea_ID_Area013,DistArea_ID_Area017,DistArea_ID_Area018,...,Medicine_Type_OralContraceptives,Medicine_Type_Statins,Medicine_Type_Stimulants,Area_Type_CityLimits,Area_Type_DownTown,Area_City_Type_Tier 1,Area_City_Type_Tier 2,Area_dist_level_High,Area_dist_level_Medium,Area_dist_level_Small
0,1995,0.070422,1775.5026,13.100,160.2366,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,1983,0.013000,3069.1520,14.115,110.4384,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1995,0.060783,2603.0920,9.025,259.4092,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
3,1995,0.065555,1101.7130,11.800,99.9830,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,1
4,1983,0.248859,158.9402,14.115,56.4402,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6813,1995,0.112963,2070.4520,8.535,204.1452,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
6814,1995,0.131103,2126.3792,20.650,235.1088,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
6815,2005,0.105096,2119.7212,20.000,193.6292,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
6816,2000,0.099957,1485.2138,10.180,162.8682,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0
6817,2007,0.117445,1943.9500,7.930,177.5500,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [252]:
testingdata=data.loc[data['Data_from']=='Test']

In [253]:
testingdata

,Active_Since,Availability_rating,Counterfeit_Sales,Counterfeit_Weight,Data_from,Medicine_MRP,SidEffect_Level,DistArea_ID_Area010,DistArea_ID_Area013,DistArea_ID_Area017,...,Medicine_Type_OralContraceptives,Medicine_Type_Statins,Medicine_Type_Stimulants,Area_Type_CityLimits,Area_Type_DownTown,Area_City_Type_Tier 1,Area_City_Type_Tier 2,Area_dist_level_High,Area_dist_level_Medium,Area_dist_level_Small
0,1983,0.112747,NaN,14.115,Test,85.5328,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,2000,0.144446,NaN,13.450,Test,257.1460,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
2,2000,0.144221,NaN,7.100,Test,98.1172,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,1996,0.100388,NaN,18.300,Test,135.3730,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1983,0.022585,NaN,14.115,Test,112.8016,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,1983,0.050505,NaN,14.115,Test,136.5704,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1701,2002,0.041118,NaN,21.300,Test,57.0744,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
1702,2005,0.191273,NaN,20.400,Test,182.7422,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
1703,2007,0.013000,NaN,20.000,Test,266.9672,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1704,2000,0.098982,NaN,8.080,Test,238.7694,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [254]:
testingdata.drop(['Counterfeit_Sales','Data_from'],axis=1,inplace=True)

In [255]:
testingdata

,Active_Since,Availability_rating,Counterfeit_Weight,Medicine_MRP,SidEffect_Level,DistArea_ID_Area010,DistArea_ID_Area013,DistArea_ID_Area017,DistArea_ID_Area018,DistArea_ID_Area019,...,Medicine_Type_OralContraceptives,Medicine_Type_Statins,Medicine_Type_Stimulants,Area_Type_CityLimits,Area_Type_DownTown,Area_City_Type_Tier 1,Area_City_Type_Tier 2,Area_dist_level_High,Area_dist_level_Medium,Area_dist_level_Small
0,1983,0.112747,14.115,85.5328,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,2000,0.144446,13.450,257.1460,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
2,2000,0.144221,7.100,98.1172,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,1996,0.100388,18.300,135.3730,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1983,0.022585,14.115,112.8016,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,1983,0.050505,14.115,136.5704,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1701,2002,0.041118,21.300,57.0744,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
1702,2005,0.191273,20.400,182.7422,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
1703,2007,0.013000,20.000,266.9672,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1704,2000,0.098982,8.080,238.7694,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0

### Splitting trainingdata into train and test

In [256]:
train,test=train_test_split(trainingdata,test_size=0.2,random_state=12)

In [257]:
x_train = train.drop('Counterfeit_Sales',axis='columns')
y_train = train['Counterfeit_Sales']
x_test = test.drop('Counterfeit_Sales',axis='columns')
y_test = test['Counterfeit_Sales']

print('x_train : ',x_train.shape)
print('y_train : ',y_train.shape)

print('x_test : ',x_test.shape)
print('y_test : ',y_test.shape)

x_train :  (5454, 36)
y_train :  (5454,)
x_test :  (1364, 36)
y_test :  (1364,)

### Linear Regression model

In [258]:
ld=LinearRegression()
ld.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [259]:
y_pred=ld.predict(x_test)

In [260]:
print(metrics.median_absolute_error(y_test,y_pred))
print(my_rmse(y_test,y_pred))

637.0838359589754
598148.1254186453

In [261]:
print('Our model submission performance : ',1-(metrics.median_absolute_error(y_test,y_pred)/1600))

Our model submission performance :  0.6018226025256403

### Creating model on complete training data

In [262]:
x=trainingdata.drop(['Counterfeit_Sales'],axis=1)
y=trainingdata['Counterfeit_Sales']

In [263]:
lm=LinearRegression()
lm.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [264]:
pred=lm.predict(testingdata)

In [265]:
testing_medID = pd.read_csv('D:/edvancer projects/counterfeit_test.csv')

In [266]:
testing_medID = testing_medID['Medicine_ID']

In [267]:
submission_dataframe = pd.DataFrame({"Medicine_ID": testing_medID,
                 'Counterfeit_Sales': pred})

In [268]:
submission_dataframe.to_csv('py part2 project3.csv',index=False)